#
CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_HOST_OS_LINUX=y
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7-ubootmod=y
# end of Target Devices
# 定时重启autoreboot
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-i18n-autorebootk-zh-cn=y
### 科学上网 homeproxy
### CONFIG_PACKAGE_ip-full=y
### CONFIG_PACKAGE_kmod-tun=y
### CONFIG_PACKAGE_luci-app-homeproxy=y
### CONFIG_PACKAGE_luci-i18n-homeproxy-zh-cn=y
### 虚拟通道服务端器openvpn-server
### CONFIG_PACKAGE_luci-app-openvpn-server=y
### CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=y
### frpc客户端内网穿透
### CONFIG_PACKAGE_luci-app-frpc=y
### CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
### frps服务端器内网穿透
### CONFIG_PACKAGE_luci-app-frps=y
### CONFIG_PACKAGE_luci-i18n-frps-zh-cn=y
### 上网时间控制能用中文显示不全丢弃
### CONFIG_PACKAGE_snmpd=y
### CONFIG_PACKAGE_iptables=y
### CONFIG_PACKAGE_kmod-ipt-nat=y
### CONFIG_PACKAGE_kmod-nf-nat=y
### CONFIG_PACKAGE_luci-app-accesscontrol-plus=y
### CONFIG_PACKAGE_luci-i18n-accesscontrol-plus-zh-cn=y
### 实时流量监测
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-i18n-wrtbwmon-zh-cn=y
### 网速控制
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_tc-bpf=y
CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_libxtables12=y
CONFIG_PACKAGE_tc-mod-iptables=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-i18n-eqos-zh-cn=y
### 应用过滤插件
CONFIG_PACKAGE_appfilter=y
CONFIG_PACKAGE_kmod-oaf=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-i18n-oaf-zh-cn=y
#
