CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
### 固件压缩:
CONFIG_TARGET_IMAGES_GZIP=y
### curl依赖
CONFIG_TARGET_curl=y
### curl依赖
CONFIG_TARGET_libcurl4=y
### curl依赖
CONFIG_TARGET_libnghttp2-14=y
### 常用LuCI插件选择:
### 定时重启插件
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
### web认证服务器插件
CONFIG_PACKAGE_luci-app-nodogsplash=y
CONFIG_PACKAGE_luci-i18n-nodogsplash-zh-cn=y
### 依赖包
# luci-app-squid-adv=y
# CONFIG_PACKAGE_luci-i18n-squid-adv-zh-cn=y
#
#
